extends layout

block content

  h1 Author: #{author.name}
  p #{author.date_of_birth} - #{author.date_of_death} 寿命: #{author.lifespan}
  
  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') 书籍
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p 这个作者没有书籍
    hr
    p 
      a(href=author.url+'/delete') 删除作者
    p
      a(href=author.url+'/update') 更新作者